@import "tailwindcss";

:root {
  --background: 0 0% 0%;
  --foreground: 0 0% 100%;

  --card: 0 0% 7%;
  --card-foreground: 0 0% 100%;

  --muted: 0 0% 18%;
  --muted-foreground: 0 0% 65%;

  --border: 0 0% 14%;
  --input: 0 0% 14%;

  --primary: 0 0% 100%;
  --primary-foreground: 0 0% 0%;

  --ring: 0 0% 80%;
}

html,
body {
  height: 100%;
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
}
